<ion-header no-border>
  <div class="header-page" style="background:var(--ion-color-medium-contrast);">
    <div class="input-search">
      <div class="logo-side logo-mobile">
        <div class="" style="width:35px">
          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
            <path style="fill:#ca3d46;" d="M407,0H105C47.103,0,0,47.103,0,105v302c0,57.897,47.103,105,105,105h302
            c57.897,0,105-47.103,105-105V105C512,47.103,464.897,0,407,0z" />
            <path style="fill:#C42731;" d="M407,0H256v512h151c57.897,0,105-47.103,105-105V105C512,47.103,464.897,0,407,0z" />
            <polygon style="fill:#FFFFFF;" points="256,368.125 120.073,466.882 171.993,307.09 36.064,208.333 204.08,208.333 256,48.54
            307.92,208.333 475.936,208.333 340.007,307.09 391.927,466.882 " />
            <polygon style="fill:#F2F2F2;" points="475.936,208.333 307.92,208.333 256,48.54 256,368.125 391.927,466.882 340.007,307.09 " />
            <polygon style="fill:#ca3d46;" points="216,246 216,306 286,306 286,276 286,246 " />
            <g>
              <polygon style="fill:#C42731;" points="306,256 286,276 306,296 316,296 316,256 	" />
              <polygon style="fill:#C42731;" points="256,246 256,306 286,306 286,276 286,246 	" />
            </g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
          </svg>
        </div>
        <ion-menu-toggle class="">
          <div class="" style="font-size: 24px;line-height:24px;">
            <ion-icon name="ios-menu"></ion-icon>
          </div>
        </ion-menu-toggle>
      </div>
      <input type="text" class="input-search input-mobile" placeholder="Search" spellcheck="false" autocomplete="off" name="" value="">
    </div>
  </div>
</ion-header>

<ion-content>
  <div class="not-found-container">
    <div class="text-not-found">
      <h1>Looks like you're <span>lost</span></h1>
    </div>
    <div class="image-not-found">
      <ion-img src="../../assets/images/lost.gif"></ion-img>
    </div>
  </div>
</ion-content>
