<ion-header no-border>
  <div class="header-page" style="background:var(--ion-color-medium-contrast);">
    <div class="input-search">
      <div class="logo-side logo-mobile">
        <div class="" style="width:35px">
          <svg version="1.1" id="Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 512 512" style="enable-background:new 0 0 512 512;" xml:space="preserve">
            <path style="fill:#ca3d46;" d="M407,0H105C47.103,0,0,47.103,0,105v302c0,57.897,47.103,105,105,105h302
            c57.897,0,105-47.103,105-105V105C512,47.103,464.897,0,407,0z" />
            <path style="fill:#C42731;" d="M407,0H256v512h151c57.897,0,105-47.103,105-105V105C512,47.103,464.897,0,407,0z" />
            <polygon style="fill:#FFFFFF;" points="256,368.125 120.073,466.882 171.993,307.09 36.064,208.333 204.08,208.333 256,48.54
            307.92,208.333 475.936,208.333 340.007,307.09 391.927,466.882 " />
            <polygon style="fill:#F2F2F2;" points="475.936,208.333 307.92,208.333 256,48.54 256,368.125 391.927,466.882 340.007,307.09 " />
            <polygon style="fill:#ca3d46;" points="216,246 216,306 286,306 286,276 286,246 " />
            <g>
              <polygon style="fill:#C42731;" points="306,256 286,276 306,296 316,296 316,256 	" />
              <polygon style="fill:#C42731;" points="256,246 256,306 286,306 286,276 286,246 	" />
            </g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
            <g></g>
          </svg>
        </div>
        <ion-menu-toggle class="">
          <div class="" style="font-size: 24px;line-height:24px;">
            <ion-icon name="ios-menu"></ion-icon>
          </div>
        </ion-menu-toggle>
      </div>
      <input type="text" class="input-search input-mobile" placeholder="Search" spellcheck="false" autocomplete="off" name="" value="">
    </div>
  </div>
</ion-header>

<ion-content class="ion-padding">
  <div class="home-container">
    <div class="spotlight-page">
      <div class="image-backdrop">
        <ion-img src="https://image.tmdb.org/t/p/w1000_and_h563_face/uExPmkOHJySrbJyJDJylHDqaT58.jpg"></ion-img>
      </div>
      <div class="text-spotlight"> <!-- -->
        <div class="top-text">
          <h1 class="--title-spotlight">Kingsman: The Golden Circle</h1>
          <p class="--genres-spotlight">Action, Adventure, Comedy</p>
          <p class="--desc-highlight">
            {{truncateString("When an attack on the Kingsman headquarters takes place and a new villain rises, Eggsy and Merlin are forced to work together with the American agency known as the Statesman to save the world.",180)}}
          </p>
        </div>
        <div class="flex buttons-spotlight">
          <div class="button-play watch-btn no-touch">
            <div class="content-btn">
              <div class="svg-icon" style="width:20px;">
                <svg version="1.1"  id="3Capa_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve">
                  <g>
                    <path d="M45.563,29.174l-22-15c-0.307-0.208-0.703-0.231-1.031-0.058C22.205,14.289,22,14.629,22,15v30
                      c0,0.371,0.205,0.711,0.533,0.884C22.679,45.962,22.84,46,23,46c0.197,0,0.394-0.059,0.563-0.174l22-15
                      C45.836,30.64,46,30.331,46,30S45.836,29.36,45.563,29.174z M24,43.107V16.893L43.225,30L24,43.107z" />
                    <path d="M30,0C13.458,0,0,13.458,0,30s13.458,30,30,30s30-13.458,30-30S46.542,0,30,0z M30,58C14.561,58,2,45.439,2,30
                      S14.561,2,30,2s28,12.561,28,28S45.439,58,30,58z" />
                  </g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                  <g></g>
                </svg>
              </div>
              <p>Watch Trailer</p>
            </div>
          </div>
          <div class="button-play see-btn no-touch">
            <div class="content-btn">
              <div class="svg-icon" style="width:20px;">
                <svg version="1.1" id="Capa2_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
                	 viewBox="0 0 60 60" style="enable-background:new 0 0 60 60;" xml:space="preserve">
                <g>
                	<path d="M18,26c-2.206,0-4,1.794-4,4s1.794,4,4,4s4-1.794,4-4S20.206,26,18,26z M18,32c-1.103,0-2-0.897-2-2s0.897-2,2-2
                		s2,0.897,2,2S19.103,32,18,32z"/>
                	<path d="M30,26c-2.206,0-4,1.794-4,4s1.794,4,4,4s4-1.794,4-4S32.206,26,30,26z M30,32c-1.103,0-2-0.897-2-2s0.897-2,2-2
                		s2,0.897,2,2S31.103,32,30,32z"/>
                	<path d="M46,30c0-2.206-1.794-4-4-4s-4,1.794-4,4s1.794,4,4,4S46,32.206,46,30z M42,32c-1.103,0-2-0.897-2-2s0.897-2,2-2
                		s2,0.897,2,2S43.103,32,42,32z"/>
                	<path d="M2.414,30l13.293-13.293c0.391-0.391,0.391-1.023,0-1.414s-1.023-0.391-1.414,0l-14,14c-0.391,0.391-0.391,1.023,0,1.414
                		l14,14C14.488,44.902,14.744,45,15,45s0.512-0.098,0.707-0.293c0.391-0.391,0.391-1.023,0-1.414L2.414,30z"/>
                	<path d="M59.707,29.293l-14-14c-0.391-0.391-1.023-0.391-1.414,0s-0.391,1.023,0,1.414L57.586,30L44.293,43.293
                		c-0.391,0.391-0.391,1.023,0,1.414C44.488,44.902,44.744,45,45,45s0.512-0.098,0.707-0.293l14-14
                		C60.098,30.316,60.098,29.684,59.707,29.293z"/></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g><g></g></svg>
              </div>
              <p>Read more</p>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="" style="display:flex;flex-direction: column;">
      <div class="section--home" style="order:2;" [style.order]="numbers[0]">
        <div class="popular--tv-shows">
          <h1 class="title--section">Popular tv shows</h1>
          <div class="grid-popular custom-scroll">
            <div *ngFor="let tp of tv_popular" class="grid-popular-item item-showed tv_show_{{tp.id}} fadeIn">
              <div class="image-tv-show image_{{tp.id}} fadeIn">
                <ion-img class="fadeIn" [src]="'https://image.tmdb.org/t/p/original/'+ tp.backdrop_path"></ion-img>
              </div>
            </div>
            <ng-container *ngIf="tv_popular.length === 0">
              <div *ngFor="let tp of [0,1,2,3,4,5,6]" class="grid-popular-item">
                <div class="image-tv-show">
                  <ion-skeleton-text></ion-skeleton-text>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="section--home" style="order:2;" [style.order]="numbers[2]">
        <div class="popular--tv-shows">
          <h1 class="title--section">Continue Watching</h1>
          <div class="grid-popular custom-scroll">
            <div *ngFor="let tp of movie_popular;let i = index" class="grid-popular-item item-showed tv_show_{{tp.id}} fadeIn">
              <div class="image-tv-show image_{{tp.id}} fadeIn">
                <ion-img class="fadeIn" [src]="'https://image.tmdb.org/t/p/original/'+ tp.backdrop_path"></ion-img>
                <div class="indicator-watching">
                  <div class="indicator-watched" [style.width]="(i+1)*14.6 +'%'">

                  </div>
                </div>
              </div>
            </div>
            <ng-container *ngIf="tv_popular.length === 0">
              <div *ngFor="let tp of [0,1,2,3,4,5,6]" class="grid-popular-item">
                <div class="image-tv-show">
                  <ion-skeleton-text></ion-skeleton-text>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
      <div class="section--home" [style.order]="numbers[1]">
        <div class="popular--tv-shows">
          <h1 class="title--section">Popular movies</h1>
          <div class="grid-popular custom-scroll">
            <div *ngFor="let tp of movie_popular" class="grid-popular-item item-showed tv_show_{{tp.id}} fadeIn">
              <div class="image-tv-show image_{{tp.id}} fadeIn">
                <ion-img class="fadeIn" *ngIf="tp.backdrop_path != null" [src]="'https://image.tmdb.org/t/p/original/'+ tp.backdrop_path"></ion-img>
                <ion-img class="fadeIn" *ngIf="tp.backdrop_path === null" [src]="noimage"></ion-img>
              </div>
            </div>
            <ng-container *ngIf="movie_popular.length === 0">
              <div *ngFor="let tp of [0,1,2,3,4,5,6]" class="grid-popular-item">
                <div class="image-tv-show">
                  <ion-skeleton-text></ion-skeleton-text>
                </div>
              </div>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</ion-content>
